@media all and (max-width: 1367px) {
  .section_img img{
    width: 78%;
  }

  .slide-form-style .section_img img {
    width: 35%;
  }
  .slide-scenario .section_img img {
    width: 70%;
  }
  .slide-accent .section_img img {
    width: 45%;
  }

  .section-view .section_img img {
    width: 70%;
  }

  .section-type .section_img img {
    width: 60%;
  }

  .section {
    padding-top: 66px;
  }

  .section-incidental .section_img {
    display: none;
  }

  .section_title {
    font-size: 2.75em;
  }

  .slide-chronometry .section_title {
    top: 4.2em;
  }

  #data .c-arrow-down,
  #chronometry .c-arrow-down,
  #style .c-arrow-down,
  #incidental .c-arrow-down,
  #accent .c-arrow-down,
  #law .c-arrow-down {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
    left: auto;
  }

  .slide-chronometry,
  .slide-incidental,
  .slide-accent,
  .slide-law,
  .slide-output,
  .slide-form-style {
    position: static;
    transform: none;
  }

}





@media all and (max-width: 1100px) {
  .horizontal-nav .container-layout {
    width: auto;
    margin: 0 54px;
  }

  .horizontal-nav .horizontal-menu_link {
    padding: 24px 5px;
  }

  // .slide-form-style {
  //   position: static;
  //   transform: none;
  // }


  // #style .c-arrow-down {
  //   position: relative;
  //   display: block;
  //   margin: 0 auto;
  //   margin-top: 30px;
  //   margin-bottom: 10px;
  //   left: auto;
  // }
}




@media all and (max-width: 995px) {

  .slide-type,
  .slide-chronometry,
  .slide-form-style,
  .slide-incidental,
  .slide-accent,
  .slide-law {
    width: 100%;
    position: static;
    transform: none;
  }


  .slide-menu,
  .slide-scenario,
  .slide-view,
  .slide-output {
    width: 100%;
  }

  .horizontal-nav .horizontal-logo {
    margin-right: 10px;
  }

  .horizontal-nav .container-layout {
      width: auto;
      margin: 0 20px;
  }

  .horizontal-menu {

  }

  .contact_footer .footer-menu {
    float: none;
    margin-left: 255px;
  }

  .contact_footer .footer-menu_link {
    padding-top: 0;
    padding-bottom: 8px;
  }

  .contact_footer .footer-menu_item::after {
    content: "";
    display: none;
  }

  .footer-menu_item:first-child .footer-menu_link {
    padding-left: 8px;
  }

  .contact .contact-main_img {
    width: 80%;
  }

  .works-footer .footer-menu_link {
    padding: 10px;
  }

  .container-layout {
    width: 100%;
    padding-left: 25px;
    padding-right: 50px;
  }

  .section-type .slide-type,
  .section-scenario .slide-scenario {
    padding: 0;
  }

  .section-scenario .grid_column {
    text-align: left !important;
  }

  .c-label {
    font-size:15px;
  }

  .section-law .grid_column:first-child {
    margin: 0;
  }

  .slide-chronometry .grid {
    padding: 0;
  }

  //works
  .c-card-works .mejs__controls .mejs__time-rail {
    width: 200px !important;
  }

  .c-card-works .player-layout {
    width: 400px;
  }

  .section-scenario .grid_column {
    width: auto;
  }


  // .section-view .grid .grid_column {
  //   display: block;
  //   width: 100%;
  // }

  .section-view .c-label {
    display: block;
  }


  // .section-view .grid {
  //   width: 75%;
  //   margin-left: auto;
  //   margin-right: auto;
  // }
}





@media all and (max-width: 920px) {
  .horizontal-logo {
    display: none;
  }

  .horizontal-nav .horizontal-menu,
  .horizontal-nav .horizontal-entry {
    display: inline-block;
    float: none;
  }

  .horizontal-nav .horizontal-menu_link {
    padding: 7px 5px;
  }

  .horizontal-entry {


  }
}





@media all and (max-width: 855px) {
  .horizontal-nav_mobile {
    display: block;
  }

  .horizontal-nav {
    display: none;
    padding: 17px 0;
    width: auto;
    border-bottom-right-radius: 40px;
  }

  .horizontal-nav .container-layout {
    padding-right: 0;
  }

  .horizontal-menu {
    margin-left: 20px;
  }

  .horizontal-nav .horizontal-menu_item {
    display: block;
  }

  .horizontal-nav .horizontal-entry {
    position: absolute;
    top: 67px;
    left: 20px;
    padding: 0;
    padding-top: 23px;
  }

  .horizontal-nav .horizontal-entry::before {
    left: 8px;
    top: 0;
  }
}




@media all and (max-width: 800px) {

  .section .grid .grid_column:not(.section-scenario .grid_column) {
    display: block;
    width: 100%;
  }

  .c-label:not(.slide-scenario .c-label) {
    display: block;
  }

  // .slide-scenario .c-label {
  //   display: inline-block;
  // }

  .slide-type .grid_column {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  .slide-incidental .grid_column,
  .section-law .grid_column {
    width: 100% !important;
    display: block;
  }

  .grid {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .slide-output {
    width: 100%;
    position: static;
    transform: none;
  }

  .slide-type .grid_column:first-child {
    text-align: left;
  }

  .section-form-style .load-style {
    width: 100%;
  }

  .section-output .section_img img {
    width: 100%;
  }

  .plate::after {
    display: none;
  }

  .section-output .output {
    padding: 0;
  }


}


@media all and (max-width: 550px) {
  .section-type .grid {
    width: 98%;
  }

  .slide-chronometry .section_title {
    position: static;
    transform: none;
  }

  .slide-chronometry .text-entry {
    padding: 0;
  }

  .section_title {
    font-size: 2.5em !important;
  }

  .section-form-style .load-style_upload {
    width: 76vw;
  }
  .file-box {
    width: 55vw;
  }
}



@media all and (max-width: 480px) {

.horizontal-menu {
  margin-left: 40px;
}

  .slide-menu, .slide-scenario, .slide-view, .slide-type, .slide-chronometry, .slide-form-style, .slide-incidental, .slide-accent, .slide-output, .slide-law {
    position: static;
    transform: none;
  }

  .vertical-nav {
    display: none;
  }

  .grid {
    width: 100%;
  }

  .grid_column {
    width: 100% !important;
    display: block;
  }

  body {
    overflow: visible;
  }

  .c-arrow-down {
    display: none;
  }

  .container-layout {
    padding: 0;
  }
  .section {
    height: auto;
    overflow: visible;
    padding: 20px;
  }


}
